/* -----------------------------------------------------------------
Google fonts 
------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* -----------------------------------------------------------------
Default CSS 
------------------------------------------------------------------ */
:root {
    --primary-color: #2500F9;
    --secondary-color: #FEAA25;
    --font-color: #616368;
    --heading-color: #242f51;
    --red-color: #f55767;
    --blue-color: #2563ff;
    --green-color: #40975f;
    --lightblue-color: #EAF9FF;
    --lightyellow-color: #FFF6D3;
    --lighttomato-color: #FDEEE4;
    --body-font-size: 1rem;
    --body-line-height: 1.5;
    --normal-font: 400;
    --body-font-family: 'Poppins', sans-serif;
    --h3-font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, 
*::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--normal-font);
    line-height: var(--body-line-height);
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: var(--body-font-family);
    color: var(--heading-color);
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 0;
}

h2 {
    font-size: 36px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-item-center {
    align-items: center;
}


/* -----------------------------------------------------------------
Template Default CSS 
------------------------------------------------------------------ */

::selection {
    background-color: #2500F9;
    color: #fff;
}

a.btn {
    background: var(--primary-color);
    display: inline-block;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

a.btn:hover {
    background: #1d00c5;
    color: #fff;
}


a.btn.btn-without-bg:hover {
    color: var(--secondary-color);
    background: transparent;
}

.lightblue-bg {
    background-color: var(--lightblue-color);
}

.yellow-bg {
    background-color: var(--lightyellow-color);
}

.tomato-bg {
    background-color: var(--lighttomato-color);
}

.section-title {
    margin-bottom: 90px;
}

.section-title h2 {
    font-size: 42px;
    font-weight: 700;
}

.section-padding {
    padding: 100px 0;
}

.icon-box {
    height: 90px;
    width: 90px;
    position: relative;
    border-radius: 50%;
}

.red-bg {
    background-color: #FFECEF;
}

.blue-bg {
    background-color: #F4F4FF;
}

.green-bg {
    background-color: #E4FFEE;
}

.min-height-100 {
    min-height: 100px;
}

.icon-box img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color-red {
    color: var(--red-color);
}

.color-blue {
    color: var(--blue-color);
}

.color-green {
    color: var(--green-color);
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-top-55 {
    margin-top: 55px;
}

.margin-bottom-55 {
    margin-bottom: 55px;
}

/* -----------------------------------------------------------------
Layout
------------------------------------------------------------------ */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-sm-1 {
        margin-left: 8.33333333%
    }
    .offset-sm-2 {
        margin-left: 16.66666667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.33333333%;
    }
    .offset-sm-5 {
        margin-left: 41.66666667%
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.33333333%;
    }
    .offset-sm-8 {
        margin-left: 66.66666667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.33333333%;
    }
    .offset-sm-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.33333333%
    }
    .offset-md-2 {
        margin-left: 16.66666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.33333333%;
    }
    .offset-md-5 {
        margin-left: 41.66666667%
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.33333333%;
    }
    .offset-md-8 {
        margin-left: 66.66666667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.33333333%;
    }
    .offset-md-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-lg-1 {
        margin-left: 8.33333333%
    }
    .offset-lg-2 {
        margin-left: 16.66666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.33333333%;
    }
    .offset-lg-5 {
        margin-left: 41.66666667%
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.33333333%;
    }
    .offset-lg-8 {
        margin-left: 66.66666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.33333333%;
    }
    .offset-lg-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-xl-1 {
        margin-left: 8.33333333%
    }
    .offset-xl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xl-5 {
        margin-left: 41.66666667%
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xl-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 1400px) {
    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-xxl-1 {
        margin-left: 8.33333333%
    }
    .offset-xxl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xxl-3 {
        margin-left: 25%;
    }
    .offset-xxl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xxl-5 {
        margin-left: 41.66666667%
    }
    .offset-xxl-6 {
        margin-left: 50%;
    }
    .offset-xxl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xxl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xxl-9 {
        margin-left: 75%;
    }
    .offset-xxl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xxl-11 {
        margin-left: 91.66666667%;
    }
}

/* -----------------------------------------------------------------
Template Default CSS 
------------------------------------------------------------------ */
header.header {
    padding: 20px 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
    padding: 10px 0;
    transition: all 0.3s ease;
}

a.logo h2 {
    font-size: 30px;
    margin: 0;
}

a.logo h2 span {
    color: var(--secondary-color);
}

/* Main Menu CSS */
.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    margin-right: 15px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li > a {
    display: block;
    padding: 10px 15px;
    color: var(--heading-color);
    transition: all 0.3s ease;
}

.menu ul li:hover > a {
    color: var(--secondary-color);
}

.open-btn {
    width: 40px;
    height: 40px;
    float: right;
    display: none;
    justify-content: center;
    align-items: center;
}

/* Responsive Menu CSS */
.open-btn span {
    width: 30px;
    height: 2px;
    background: #333;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.open-btn span:after, 
.open-btn span:before {
    position:  absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #333;
    transition: all 0.3s ease;
}

.open-btn span:after {
    top: -7px;
}

.open-btn span:before {
    top: 7px;
}

.open-btn:hover span {
    background: var(--secondary-color);
}

.open-btn:hover :before,
.open-btn:hover :after {
    background: var(--secondary-color);
}

.close-btn {
    cursor: pointer;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 12px;
    top: 12px;
    display: none;
    transition: all 0.3s ease;
}

.close-btn:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* -----------------------------------------------------------------
Hero Area CSS 
------------------------------------------------------------------ */
section.hero-section {
    padding: 60px 0;
    background-image: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.tikker {
    position: relative;
    background: #E2EAED;
    width: 370px;
    height: 36px;
    border-radius: 50px;
    margin-top: 30px;
}

.tikker .icon {
    background: #FEAA25;
    position: absolute;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    font-size: 18px;
}

.tikker p {
    margin-left: 45px;
    line-height: 36px;
    color: var(--heading-color);
}

.hero-content h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.2;
    padding: 30px 0;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn.btn-without-bg{
    background-color: transparent;
    color: var(--primary-color);
}

.hero-image {
    min-height: 750px;
    position: relative;
}

.hero-image img {
    position: absolute;
    top: 0;
    left: 0;
    animation: heroImageAnimation 2s infinite;
    width: 400px;
}

@keyframes heroImageAnimation {
    0%, 100% {
        top: 0;
    }

    50% {
        top: 5px
    }
}

/* -----------------------------------------------------------------
Companies Area CSS 
------------------------------------------------------------------ */

.companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.companies .single-company {
    flex: 0 0 20%;
}

.companies-section p {
    text-align: center;
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: 30px;
}

/* -----------------------------------------------------------------
Feature app CSS 
------------------------------------------------------------------ */

.feature-app-image {background-image: url("../img/app-feature-bg.png");}

.feature-app-image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-width: 100%;
    min-height: 750px;
}

.feature-app-image img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: appFeatureImageAnimation 2s infinite;
}

@keyframes appFeatureImageAnimation {
    0%, 100% {
        bottom: 0px;
        left:0px
    }

    50% {
        bottom: 5px;
        left: 3px
    }
}

.single-feature-text {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.feature-text-content {
    margin-left: 34px;
}

.feature-text-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.feature-text-content p {
    width: 265px;
}

/* -----------------------------------------------------------------
Jackpot Section CSS 
------------------------------------------------------------------ */

.jackpot-bigText {
    position: relative;
    padding-right: 55px;
}

.jackpot-bigText:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: rgba(75, 74, 72, 0.39);
}

.jackpot-bigText h2 {
    font-size: 42px;
    font-weight: 600;
}

.jackpot-smallText {
    padding: 55px;
}

.jackpot-smallText p {
    width: 450px;
}

.jackpot-services-content h4 {
    margin-bottom: 20px;
    font-weight: 600;
}

.jackpot-services {
    padding-bottom: 30px;
}

/* -----------------------------------------------------------------
Description Section CSS 
------------------------------------------------------------------ */

.description-section {
    border-bottom: 1px solid rgba(229, 230, 229, 0.44);
}

.description-image {
    background-image: url("../img/description-bg.png");
}

.description-image {
    min-height: 540px;
    background-size: cover;
}

.description-content {
    padding-left: 80px;
}

.description-content p {
    margin-bottom: 40px;
}

/* -----------------------------------------------------------------
App Service Section CSS 
------------------------------------------------------------------ */

.single-app-service {
    padding: 30px;
}

.app-service-content h4 {
    margin-bottom: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* -----------------------------------------------------------------
Ultimate Section CSS 
------------------------------------------------------------------ */

.ultimate-section::after {
    background-image: url(../img/ultimate-bg.png);
}

.ultimate-feature-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95% auto;
    position: relative;
    min-height: 730px;
}

.ultimate-img-1, 
.ultimate-img-2 {
    position: absolute;
}

.ultimate-img-2 {
    z-index: 1;
    top: 40px;
    animation: appFeatureImageAnimation 4s infinite;
}

.ultimate-img-1 {
    z-index: 2;
    left: 210px;
    animation: heroImageAnimation 3s infinite;
}

.ultimate-section {
    position: relative;
}

.ultimate-section::after {
    width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

/* -----------------------------------------------------------------
Ultimate Section CSS 
------------------------------------------------------------------ */

.plan-switcher {
    margin-bottom: 40px;
}

label.switch {
    width: 284px;
    height: 57px;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid #EBEBEB;
    position: relative;
    cursor: pointer;
}

label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

label.switch .slider {
    position: absolute;
    height: 48px;
    width: 136px;
    background: var(--primary-color);
    top: 3px;
    left: 3px;
    border-radius: 50px;
    transition: all 0.3s;
}

input[type="checkbox"]:checked  + .slider {
    left: 139px;
}

.switch .monthly,
.switch .yearly {
    position: absolute;
    font-weight: 700;
    text-align: center;
    width: 136px;
    height: 48px;
    top: 3px;
    left: 3px;
    line-height: 48px;
    transition: .3s;
}

.switch .monthly {
    color: #fff;
}

.switch .yearly {
    color: #616368;
    left: auto;
    right: 3px;
}

/* Pricing table content */

.pricing-table {
    margin-bottom: 30px;
    border-radius: 8px;
}

.pricing-header {
    border-radius: 6px 6px 0 0;
    background-image: linear-gradient(180deg, #fff, #F4F7F9);
    padding: 40px 0;
}

.price span.amount {
    font-size: 60px;
    font-weight: 600;
    color: var(--heading-color);
}

h3.price-heading {
    font-size: var(--h3-font-size);
    margin: 0;
}

.price {
    color: #999ca5;
}

.pricing-header p {
    color: #999ca5;
}

.pricing-content {
    padding: 40px 20px 20px 20px;
}

.pricing-content ul {margin-bottom: 40px;}

.pricing-content ul li {
    color: #999ca5;
    padding: 15px;
}

.pricing-table.table-with-shadow {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.03);
}

.pricing-table.table-with-border {
    border: 2px solid #EBEBEB;
}

.pricing-table .btn-without-bg {
    margin-top: 10px;
}

/* -----------------------------------------------------------------
Ultimate Section CSS 
------------------------------------------------------------------ */

.testimonial-section .section-title p {
    width: 470px;
}

.slider-container .mySlides p {
    margin-bottom: 50px;
}

.author .author-image {
    width: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.author .author-image img {
    border-radius: 50%;
}

.author {
    display: flex;
    align-items: center;
}

.author .author-content p {
    margin: 0;
}

.author .author-content h4 {
    margin-bottom: 12px;
}

.slider-container {
    position: relative;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.slide-arrow {
    position: absolute;
    width: 120px;
    right: 0;
}

.next, 
.prev {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #EFF3F8;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    color: #EFF3F8;
    transition: 0.3s;
    cursor: pointer;
}

.next {
    left: auto;
    right: 0;
}

.slide-arrow:after {
    position: absolute;
    height: 50px;
    width: 2px;
    content: "";
    background: #EFF3F8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prev:hover, 
.next:hover {
    background: #EFF3F8;
    color: #2500F9;
}

.testimonial-section .section-title {
    margin-bottom: 40px;
}

.star-ratting {
    margin-bottom: 30px;
    color: #FFCC00;
    font-size: 20px;
}

.testimonial-section {
    position: relative;
}

.testimonial-section:after {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    top: 0;
    content: "";
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;

}
.testimonial-section:after {
    background-image: url(../img/testimonial-bg.png);
}

/* -----------------------------------------------------------------
FAQ Section CSS 
------------------------------------------------------------------ */

section.faq-section {
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
}

.single-accordion {
    background: #F5F7FA;
    padding: 20px 45px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.single-accordion a {
    font-size: 20px;
    font-weight: 700;
    color: #242f51;
    display: block;
    transition: .3s;
}

.single-accordion p {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.active {
    padding-bottom: 30px;
}

.active + p {
    max-height: 100px;
    margin-bottom: 20px;
}

/* -----------------------------------------------------------------
Ultimate Section CSS 
------------------------------------------------------------------ */

.advertise-section {
    background-image: url("../img/app-advertise-bg.png");
}

.advertise-section {
    background-size: 48%;
    background-position: center right;
    background-repeat: no-repeat;
}

.advertise-section h2 {
    font-size: 48px;
}

.advertise-section p {
    margin-bottom: 50px;
}

/* -----------------------------------------------------------------
Ultimate Section CSS 
------------------------------------------------------------------ */

.brand.dark-brand a.logo h2 {
    color: #fff;
}

.footer-section {
    background-color: #09142E;
}

.logo.dark-logo a span {
    color: #fff;
}

.footer-menu a {
    display: inline-block;
    color: #fff;
    padding: 0 18px;
    transition:  .3s;
}

.footer-social-menu a {display: inline-block;color: #fff;padding: 0 5px;}

p.copyright-text {
    color: #fff;
    opacity: .21;
}

.footer-menu {
    padding: 50px 0;
}

.footer-social-menu {
    margin-bottom: 90px;
}

.footer-menu a:hover {
    color: var(--secondary-color);
}